{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pt-4 pt-10">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9">
      <h1>404</h1>
      <h3>Algo de errado aconteceu. Volte para home.</h3>
      <div class="tenor-gif-embed" data-postid="24816481" data-share-method="host" data-aspect-ratio="1.53846" data-width="100%"><a href="https://tenor.com/view/linus-tech-tips-linus-you-are-wrong-steam-deck-gif-24816481">Linus Tech Tips Linus GIF</a>from <a href="https://tenor.com/search/linus+tech+tips-gifs">Linus Tech Tips GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
  </div>
</div>
{{ end }}